<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- HTMLごとに利用ページの項目を入れておきましょう -->
    <title>商品新規登録ページ</title>
</head>
<body>
    <h1>商品新規登録ページ</h1>
    <!-- 登録処理のHTTPメソッドはPOSTにします -->
    <form th:action="@{/item/toroku}" th:object="${itemForm}" method="post">
        <div>
            <label>商品名</label>
        </div>
        <div>
            <!-- 商品名はtext入力にします、th:field属性の値は*{フィールド名}です -->
            <input type="text" th:field="*{name}" placeholder="商品名を入力してください">
        </div>
        <div>
            <label>価格</label>
        </div>
        <div>
            <!-- 価格はnumber入力にします -->
            <input type="number" th:field="*{price}" placeholder="価格を入力してください">
        </div>
        <div>
            <input type="submit" name="send" value="登録する">
        </div>
        <div>
            <!-- 一覧に戻る -->
            <a href="/item">戻る</a>
        </div>
    </form>
</body>
</html>