@charset "UTF-8";
/*共通*/
header{
    background-color: antiquewhite;
    position:fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 100;
    padding:0%
}
header .header-inner{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
header .header-logo {
  width: 325px;
}
header .globalnav ul {
  display: flex;
}
header .globalnav ul li {
  border-right: 1px solid rgba(240, 236, 200, 0.4);
  list-style: none;
}
header .globalnav ul li a {
    color: #4E2613;
    display: block;
    text-align: center;
    padding: 5px 34px 5px 12px;
    font-size: 14px;
    font-weight: bold;
    background: url("../images/icon_angle_right.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: right 12px center;
  }
main {
  display: block;
  margin-top: 80px;
}

main .title {
  display: block;
  margin-bottom: 0%;
  white-space: nowrap;
}
/*月の実績*/
main .monthlytask .monthlygoal {
  display: block;
  margin: auto auto 0% 10px;
}

main .monthlytask ul {
  margin-top: 0%;
}
/*１週間の実績*/
main .achievements {
  margin: auto auto 0% 10px;
}
main li {
  list-style: none;
}
main .works ul {
  margin-top: 0%;
}
main .action_times .study_times {
  padding-left: 2%;
}
main .action_times .action_time {
  padding-left: 2%;
}
main .point p {
  margin-bottom: 0%;
}
main .textarea {
  display: block;
  min-width: 90%;
  field-sizing: content;
  margin: 0 5% 0 auto;
}